.bdr {
  border: 1px solid red;
}

.leadData-bg {
  background: #2b2d2e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #2b2d2e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #2b2d2e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
