<div class="container mt-4">
    <h2>
        Get Frequent State
    </h2>
    <div class="row">
        <div class="col-2">
            <label for="firstCity">City 1</label>
            <input type="text" name="" id="firstCity" placeholder="Enetr city 1">
        </div>
        <div class="col-2">
            <label for="secondCity">City 2</label>
            <input type="text" name="" id="secondCity" placeholder="Enetr city 2">
        </div>
        <div class="col-2">
            <label for="thirdCity">City 3</label>
            <input type="text" name="" id="thirdCity" placeholder="Enetr city 3">
        </div>
        <div class="col-2">
            <label for="fourthCity">City 4</label>
            <input type="text" name="" id="fourthCity" placeholder="Enetr city 4">
        </div>
        <div class="col-2">
            <label for="fifthCity">City 5</label>
            <input type="text" name="" id="fifthCity" placeholder="Enetr city 5">
        </div>
        <div class="col-2 mt-4">
            <button class="btn btn-primary" id="getFrequentSatate">Submit</button>
        </div>
    </div>
    <div id="output">

    </div>
</div>